/* 故事介紹 */

/* Style the tab  設置選項卡樣式 */
.tab {
    overflow: hidden;
    border: 3px solid #ccccccd5;
    background-color:#5d9cd656 ;
    
  }
  
  /* Style the buttons inside the tab 設置選項卡內按鈕的樣式  */
  .tab button {
    background-color: inherit;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 22px;
    transition: 0.3s;
    font-size: 25px;
    color: cadetblue;
  }
  
  /* Change background color of buttons on hover 更改懸停時按鈕的背景顏色 */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class 創建活動/當前選項卡鏈接類 */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content 設置選項卡內容的樣式 */
  .tabcontent {
    display: none;
    padding: 20px 25px;
    border: 3px solid #ccccccd5;
    border-top: none;
    background-color: #ddd;
    color: salmon;
  }

  